.login {
    width: 700px;
    margin: 20px auto;
    text-align: center;
}
.loginForm {
    margin: 40px auto;
    width: 570px;
    height: 400px;
    background: #fff;
    border: 1px solid #ababab;
    border-radius: 5px;
  }
  .loginMethod {
    width: 457px;
    height: 148px;
    margin: 130px auto;
  }